{
  "swagger": "2.0",
  "info": {
    "title": "Task",
    "description": "This is an task for all my task entries. I use a single task system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "task.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/task/": {
      "get": {
        "summary": "all tasks",
        "description": "all tasks",
        "operationId": "getTasks",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across task",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "task response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/task"
              }
            }
          }
        },
        "tags": [
          "Task"
        ]
      },
      "post": {
        "summary": "add a task post",
        "description": "add a task post",
        "operationId": "addTask",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the task was posted",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the task originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the task",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "task response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/task"
              }
            }
          }
        },
        "tags": [
          "Task"
        ]
      }
    },
    "/task/{task_id}/": {
      "get": {
        "summary": "Retrieve a task using its slug",
        "description": "Returns the task detail",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "the unique id for task entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the task",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "task response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/task"
              }
            }
          }
        },
        "tags": [
          "Task"
        ]
      },
      "put": {
        "summary": "update task",
        "description": "update task",
        "operationId": "updateTask",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "the unique id for task entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the task was posted",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the task originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the task",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "task response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/task"
              }
            }
          }
        },
        "tags": [
          "Task"
        ]
      },
      "delete": {
        "summary": "delete task",
        "description": "delete task",
        "operationId": "deleteTask",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "the unique id for task entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the task",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "task response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/task"
              }
            }
          }
        },
        "tags": [
          "Task"
        ]
      }
    },
    "/task/{task_id}/tags/": {
      "get": {
        "summary": "task tags",
        "description": "task tags",
        "operationId": "gettaskTags",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "id for task",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the task",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Task Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to task",
        "description": "add tag to task",
        "operationId": "addTaskTag",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "id for the task",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Task Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/task/{task_id}/tags/{tag}": {
      "delete": {
        "summary": "delete task tag",
        "description": "delete task tag",
        "operationId": "deletetaskTag",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "id for the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the task",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from task",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Task Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/task/tags/{tag}/task/": {
      "get": {
        "summary": "task tags by week tasks",
        "description": "task tags by week tasks",
        "operationId": "getTaskTagCTask",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "the tag to filter by",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "query",
            "description": "the week to filter by, defaults to this week",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Task Tag BLog Responsee",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/task"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    }
  },
  "definitions": {
    "task": {
      "properties": {
        "task_id": {
          "description": "unique id of the task",
          "type": "integer",
          "format": "id"
        },
        "post_date": {
          "description": "date the task was posted",
          "type": "string"
        },
        "title": {
          "description": "ttle for the task",
          "type": "string"
        },
        "author": {
          "description": "author of the task",
          "type": "string"
        },
        "summary": {
          "description": "summary for the task",
          "type": "string"
        },
        "body": {
          "description": "full body text of the task",
          "type": "string"
        },
        "footer": {
          "description": "footer text for the task",
          "type": "string"
        },
        "status": {
          "description": "status of the task",
          "type": "string"
        },
        "curated_id": {
          "description": "curated id the task originated from",
          "type": "integer",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}